.meals {
	position: absolute;
	left: 20px;
	display: flex;
	justify-content: center;
	top: 450px;
	min-width: 600px;
	margin: 2rem auto;
	animation: meals-appear 1s ease-out forwards;
}

.meals ul {
	list-style: none;
	margin: 10px auto 10px auto;
}

@keyframes meals-appear {
	from {
		opacity: 0;
		transform: translateY(3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
